<div class="db-list">

  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>
  <pbp-database></pbp-database>

  <!--<div class="db-item">-->
    <!--<pbp-database></pbp-database>-->
  <!--</div>-->

  <!--<div class="db-item">-->
    <!--<pbp-database></pbp-database>-->
  <!--</div>-->

  <!--<div class="db-item">-->
    <!--<pbp-database></pbp-database>-->
  <!--</div>-->

  <!--<div class="db-item">-->
    <!--<pbp-database></pbp-database>-->
  <!--</div>-->

  <!--<div class="db-item">-->
    <!--<pbp-database></pbp-database>-->
  <!--</div>-->

  <!--<div class="db-item">-->
    <!--<pbp-database></pbp-database>-->
  <!--</div>-->

  <!--<div class="db-item add-db">-->
  <div class="add-db">
    <img class="icon icon-add-db" src="assets/svgs/add-db.svg" alt="Add new database"/>
    Manage databases
  </div>

</div>

  <!--<a href="#about">About</a>-->
  <!--<a href="#services">Services</a>-->
  <!--<a href="#clients">Clients</a>-->
  <!--&lt;!&ndash;<a href="#contact">Contactvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</a>&ndash;&gt;-->
  <!--<button class="dropdown-btn">Dropdown-->
    <!--<i class="fa fa-caret-down"></i>-->
  <!--</button>-->
  <!--<div class="dropdown-container">-->
    <!--<a href="#">Link 1</a>-->
    <!--<a href="#">Link 2</a>-->
    <!--<a href="#">Link 3</a>-->
  <!--</div>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
  <!--<a href="#contact">Contact</a>-->
<!--</div>-->
